footer(class='footer')
  .container
    p.pull-left © 2017 uwin.hk All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/ppcheng/HKJCBot') GitHub Project
      li
        a(href='https://github.com/ppcheng/HKJCBot/issues') Issues
